/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
laravel.zip
public/assets.zip
/.git2
/.git2/objects/e5/03a04e57a39016fe96ad645e664fb28a88c05b

